*{
    background-color: beige;
}
.mb-3 {
    margin:auto;
    border: 10px;  
}
.form-control {
    width: auto;
    margin:auto;
    border: 20px; 
}
.container mt-5{
    text-align: center;
}
.btn btn-primary{
    margin:auto;
    border: 10px; 
    background-color: rgb(68, 177, 249);
         
}